#MapPage {padding-top:70px;}


/*
Turn the navbar Michigan blue (have to change navbar class in AppRouter)
.navbar-custom { 
background-color: #00274C;
}

turn the navbar links Michigan yellow
.navbar-brand a {color: #FFCB05;}
.nav.navbar-nav.navbar-right li a {color: #FFCB05;}
*/
